.active-button {
    border: none;
    outline: none;
    width: 7rem;
    height: 1.6rem;
    margin-top: 7px;
    border-radius: var(--border-radius);
    padding: 4px;
    font-size: 11px;
    font-weight: 600;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.inactive-button {
    border: none;
    outline: none;
    width: 7rem;
    height: 1.6rem;
    margin-top: 7px;
    border-radius: var(--border-radius);
    padding: 4px;
    font-size: 11px;
    font-weight: 600;
    background-color: var(--light-color);
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}